/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* BASE LAYOUT */
body {
   font-family: Karla, sans-serif; 
}

h5 {
   font-weight: normal;
   font-size: medium;
}

.overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   display: grid;
   place-items: center;
   background-color: #18192B;
}

.overlay form {
   width: min-content;
}

.overlay form input {
   font-family: 'Fira Code', monospace;
   font-size: large;
}


#main_plot {
   display: none;
   background-color: #f2f2f2;
}

#tools_area {
   display: none;
}

.tool_list {
   list-style: none;
}

.tool_list ul {
   padding-bottom: 15px;
}

.tool_list :last-child {
   padding-bottom: 0px;
}

.selecter h5 {
   display: inline-flex;
}

.selecter select {
   display: inline-flex;
}

/* MODERNIZING */
*:focus {
   outline: none;
}

.overlay input {
   padding: 3px;
   padding-left: 15px;
   font-size: 17px;
   font-weight: bold;
   color: rgba(67,69,68,0.9);
   border: none;
   transition: 0.2s ease-in;
}

.overlay input::placeholder {
   letter-spacing: 0.15em;
   color: rgba(67,69,68,0.5);
}

#start_screen form #function_enter {
   margin-bottom: 15px;
}

#greeting_msg {
   margin-left: auto;
   margin-right: auto;
   font-size: large;
   width: max-content;
   text-align: center;
   color: rgba(142, 142, 146, 0.7);
}

h1 {
   font-size: x-large;
   margin-bottom: 20px;
}

#plot_area {
   display: grid;
   place-items: center;
}
