* {
   margin: 0px;
   padding: 0px;
}

.dragger {
   height: 20px;
   -webkit-app-region: drag;
}

body {
   color: #D2CDCC;
   background-color: #18192B;
   overflow: hidden;
}

#content {
   padding: 8px 20px 8px 20px;
   height: 100%;
}
